<!DOCTYPE html>
<html>
  <head>
    <title>OptIn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript">
        window.logo = "<%= image_url('optin_logo.png') %>";
    </script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body style="background-color:#f3f2ef">
    <%= yield %>
  </body>
</html>
